@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #eee;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5);

    /*text-align: center;*/ /*align header center*/
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block;
    margin: 0 auto; */
}

header a{
    text-shadow: 0 .025rem .05rem rgba(0, 0, 0, .5);
    font-weight: 800;
    color: #222;
    font-size: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header a img{
    height: 45px;
    margin-right: 10px;
}

main #section-list {
    margin-top: 8px;
    /* border-color: solid 10px #DAF7A6; */
    background-color: #c5ecc5; /*a4daa4*/
}

main #section-list .bucket-name {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    margin: 0;
    padding: 16px 0px;

    background-color: #c5ecc5;
    color: #444;
    font-weight: 600;
    text-transform: uppercase;
}

main #section-list .bucket-name-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    background-color: #198754;
}

main #section-list #list-group{
    height: 550px;
    max-height: 550px;
    overflow: auto;
    /* overflow:scroll; */
    /* -webkit-overflow-scrolling: touch; */
    background-color: #fff;
}

/* main #section-list summary {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 16px;
} */

main #section-list .object:nth-child(2n) {
    background-color: #eee;
}
main #section-list .object:nth-child(2n+1) {
    background-color: #fff;
}

main #section-list .object .object1 {
    padding: 8px 16px;
}

main #section-list .object .object2 {
    padding: 0px 16px;
    font-size: 14px;
    border: 1px solid #ddd;
}

main #section-text #content_object {
    resize: none;
    border: #aaa 1px solid;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    padding: 5px;
    font-size: 14px;
    /* height: 720px !important; */
    height: 620px !important;
}

main #section-text #content_object {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    float: left;
}

main #section-text #content_object:focus {
    border: #000 1px solid;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/* [BUCKETS] */
#list-buckets{
    height: 620px;
    max-height: 620px;
    overflow: auto;
    background-color: #fff;
}

.list-group{
    cursor: pointer;
}

/* UPLOAD BTN */

/* input[type='file'] { 
    display: none
}

label {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 6px 20px
} */